@charset "utf-8";
/* CSS Document 
html{overflow: hidden;}
.warp{width: 100%;height: 100vh;background: url(/yxxs-admin-portlet/images/wechatwall/cpb.jpg)center no-repeat;background-size: 100% 100%;overflow: hidden;}
*/

.warp{width: 100%;height: 1880px;background: url(/yxxs-admin-portlet/images/wechatwall/cpb.jpg)center no-repeat;background-size: 100% 100%;}
.top{width: 100%;height: 125px;background: rgba(255,255,255,0.3);}
.top .top_c{width: 1100px;margin: 0 auto;line-height: 130px;color: white;}
.top span{display: inline-block;height: 100%;}
.top span:nth-child(2){width: 450px;font-size: 38px;text-align: -webkit-left;}
.top span:nth-child(1){width: 340px;font-size: 27px;text-align: -webkit-center;}
.top span:nth-child(3){width: 280px;font-size: 27px;}
.top span:nth-child(3) img{float: left;margin-top: 50px;margin-right:10px;}
.top span:nth-child(4){float: right;margin-top: 30px;}
.main{width: 100%;height:auto;padding: 90px 0;}
.main .chat_list{width: 1100px;margin: 0 auto;top: 90px;}
.main .chat_list li{width:100%;height: auto;background: #fff;margin-bottom: 10px;color: #000;border-radius: 10px;padding-bottom: 20px;}
.main .chat_list li .img_w{width:100px;height:100px;float: left;margin: 30px 30px;}
.main .chat_list li .img_w img{width:100%;height: 100%;}
.main .chat_list li .m_text{width:900px;height: 100%;float: left;padding-top: 30px;}
.main .chat_list li .m_text span{display: block;
/*html限制文字显示行数*/
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;/*要显示的行数*/
    -webkit-box-orient: vertical;
}
.main .chat_list li .m_text span:first-child{font-size: 24px;}
.main .chat_list li .m_text span:first-child a{margin-left: 20px;}
.main .chat_list li .m_text span:nth-child(2){width: 888px;font-size: 38px;}


